* {
    margin:0;
    font-family: Arial;
    background-color: rgb(132, 92, 172);
    color:rgb(216, 208, 140);
    text-align: center;
}
h1 {
    margin-bottom: 20px;
    text-align: center;
}

#timeleft {
    position: fixed;
    margin-left: 80%;
    padding-bottom: 95%;
    font-size: 30px;
}

#question{
    font-size: 25px;
}
.fbuttons {
 background-color:rgb(216, 208, 140);
 color: rgb(132, 92, 172) ;
 margin-right: 15px;
 margin-bottom: 10px;
 text-align: center;
}

.slides {
    background-color:rgb(216, 208, 140);
    color: rgb(132, 92, 172) ;
    margin-left: 10px;

}
.ABCD {
    margin-top: 50px;
    margin-bottom: 30px;
}
ul li {
    text-align: left;
    list-style: none;
    padding-left: 35%;
}